{% extends "layout.html.twig" %}
{% block content %}

	<div class="container mt-4">
		<div class="container text-center">
			<h1 class="text-center mb-4">
				Explore
			</h1>
			{% if user %}
				<a href="/telephone/add" class="btn  btn-success mb-2">
					<i class="bi bi-plus-lg"></i>
					ajoute un telephone
				</a>
			</div>
		{% endif %}
		<div class="form-group mt-5">
			<label for="input-datalist">Rechercher dans les téléphones disponibles</label>
			<input type="text" class="form-control" placeholder="Apple" list="list-phone" id="input-datalist">
			<datalist id="list-phone">
				<option>Apple</option>
				<option>Google phone</option>
				<option>Honor</option>
				<option>Huawei</option>
				<option>LG</option>
				<option>Motorolla</option>
				<option>Nokia</option>
				<option>Oppo</option>
				<option>Samsung</option>
				<option>Wiko</option>
				<option>Xiaomi</option>
			</datalist>
		</div>
		<section>
			<h2 class="mb-4 p-3">
				Les telephones
			</h2>

			<div class="container">
				<div class="row">
					{% for phone in phones %}
						<div class="col mx-auto">
							<div class="card mb-5 phone border-0 shadow" style="width: 16rem;">
								<h6 class="card-title">Publié le
									{{phone.created_at}}</h6>
								<img src="https://fdn2.gsmarena.com/vv/bigpic/huawei-p20-lite-.jpg" class="mx-auto img-thumbnail" alt="...">
								<div class="card-body">
									<h5 class="card-title text-center">{{phone.brand}}
										{{phone.model}}</h5>
									<p class="card-text text-center">{{phone.description}}</p>
								</div>
								<h6 class="card-title mx-4">Lieu :
									{{phone.place}}</h6>
								<div class="card-body text-center">
									<a href="/phone/show?id={{phone.id}}" class="btn btn-primary card-link">Voir l'annonce</a>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</section>


	</div>
	<script>
		document.addEventListener('DOMContentLoaded', e => {
$('#input-datalist').autocomplete()
}, false);
	</script>
{% endblock %}
