{% extends "layout.html.twig" %}
{% block content %}
	<div class="container mt-4">

		<h1 class="text-center mb-4">
			Explore
		</h1>
		{% if user %}
			<a href="/telephone/add" class="btn btn-success mb-2">
				<i class="bi bi-plus-lg"></i>
				ajoute un telephone
			</a>
		{% endif %}
		<section>
			<h2 class="mb-4 p-3 bg-green">
				Les telephones
			</h2>

			<div class="row g-5 mb-4">
				{% for phone in phones %}
					<div class="col m-5 ">
						<div class="card mx-auto border-0 shadow" style="width: 18rem;">
							<h6 class="card-title">Publié le
								{{phone.created_at}}</h6>
							<img src="https://fdn2.gsmarena.com/vv/bigpic/huawei-p20-lite-.jpg" class=" img-thumbnail" alt="...">
							<div class="card-body">
								<h5 class="card-title text-center">{{phone.brand}}
									{{phone.model}}</h5>
								<p class="card-text text-center">{{phone.description}}</p>
							</div>
							<h6 class="card-title mx-4">Lieu :
								{{phone.place}}</h6>
							<div class="card-body text-center">
								<a href="/phone/show?id={{phone.id}}" class="btn btn-primary card-link">Voir l'annonce</a>
							</div>
						</div>
					</div>

				{% endfor %}
			</div>
		</section>


	</div>
{% endblock %}
